.botones{
    background: #FACE7F;
    box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
    transition-delay: 0.3s;
}
.subtitulos{
    color: #6d0000;
    font-family: Arial, Helvetica, sans-serif;
}
.rep:hover{
    @extend .botones
};
.rep2:hover{
    @extend .botones
};
.subtituloind{
    @extend .subtitulos;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 40px;
};
.subtituloart{
    @extend .subtitulos;
    text-align: center;
    color: #9b9b9b;
    font-size: 50px;
    background: #facf7f2a
};
.parrafo{
    @extend .subtitulos;
    padding-left: 10px;
    color: #9b9b9b;
    font-size: 30px
};