.botones{
    background: #ffffff;
    box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
    transition-delay: 0.3s;
}
.rep:hover{
    @extend .botones
};
.rep2:hover{
    @extend .botones
};