.section{
    background-color: #9b9b9b;
    margin: 1rem;
    border-style: solid; color: #6d0000;
    grid-area: section;

    .subtitulo{
        color: #6d0000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        padding-left: 10px;
    }
}