.botones, .rep2:hover, .rep:hover {
  background: #ffffff;
  box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
  transition-delay: 0.3s;
}

.subtitulos, .parrafo, .subtituloart, .subtituloabout {
  color: #6d0000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.subtituloabout {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.subtituloart {
  text-align: center;
}

.parrafo {
  padding-left: 10px;
}

.ul {
  color: #9b9b9b;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "section" "footer";
  grid-template-rows: 1fr auto;
  background-image: url(../imagenes/casita.png);
  margin: 10px;
}

@media screen and (max-width: 480px) {
  .ul {
    grid-template-columns: repeat 1fr;
  }
  .header {
    display: grid;
  }
  .logo {
    display: grid;
    padding-left: 20px;
  }
  .footer {
    display: flex;
  }
  .section {
    display: grid;
  }
  .parrafo {
    display: grid;
  }
  .titulito {
    display: grid;
  }
  .subtitulo {
    display: grid;
  }
  .ul2 {
    display: grid;
  }
  .form {
    display: grid;
  }
  .subtituloart {
    display: grid;
  }
  .ul3art {
    display: grid;
  }
  .imageart {
    display: grid;
  }
  .subtituloubi {
    display: grid;
  }
  .imageubi {
    display: grid;
  }
}
.header {
  border-style: solid;
  color: #FACE7F;
  padding: 100px;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  grid-area: header;
  background: rgb(99, 10, 16);
  background: linear-gradient(0deg, rgb(99, 10, 16) 0%, rgba(252, 240, 200, 0.8547794118) 100%);
}
.header .titulito {
  color: #9b9b9b;
  font-size: 75px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom right, grey, #aa3e3e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .rep {
  color: #9b9b9b;
  flex-direction: row;
  padding-left: 15rem;
  font-size: 40px;
  text-decoration: none;
  position: relative;
  display: inline;
  block-size: auto;
  padding: 15px 60px;
  overflow: hidden;
  transition: 0.5s;
  transform: translate(0px, 10px);
}

.footer {
  margin: 1rem;
  background: rgb(99, 10, 16);
  background: linear-gradient(180deg, rgb(99, 10, 16) 25%, rgba(252, 240, 200, 0.9472163866) 100%);
  border-style: solid;
  color: #FACE7F;
  height: auto;
  width: auto;
  padding: 10px;
  grid-area: footer;
  display: flex;
  justify-content: center;
}
.footer .ul2 {
  list-style-type: none;
  padding-left: 5px;
  display: flex;
  justify-content: space-evenly;
}
.footer .ul2 .rep2 {
  color: #9b9b9b;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  position: relative;
  display: inline;
  block-size: auto;
  padding: 15px 60px;
  overflow: hidden;
  transition: 0.5s;
  display: flex;
  justify-content: center;
}

.section {
  background-color: #630a10;
  margin: 1rem;
  border-style: solid;
  color: #FACE7F;
  grid-area: section;
}
.section .subtitulo {
  color: #9b9b9b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  background: rgba(250, 207, 127, 0.1647058824);
}

.alert {
  margin: 10px;
}

.ul3art {
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.form {
  color: #9b9b9b;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}/*# sourceMappingURL=estilos.css.map */