.footer{
    margin: 01rem;
    background: rgb(99,10,16);
    background: linear-gradient(180deg, rgba(99,10,16,1) 25%, rgba(252,240,200,0.9472163865546218) 100%);
    border-style: solid; color: #FACE7F;
    height: auto;
    width: auto;
    padding: 10px;
    grid-area: footer;
    @include uno;

    .ul2{
        list-style-type: none;
        padding-left: 5px;
        display: flex;
        justify-content: space-evenly;

        .rep2{
            color: #9b9b9b;
            font-size: 35px;
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            position: relative;
            display: inline; block-size: auto;
            padding: 15px 60px;
            overflow: hidden;
            transition: 0.5s;
            @include uno;
        }
    }
}