*{
    margin: 0;
    padding: 0;
}
.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "section"
        "footer";
    grid-template-rows: 1fr auto;
    background-image: url(../imagenes/casita.png);
    margin: 10px;
}



@media screen and (max-width: 480px) {
    .ul {
        grid-template-columns: repeat ( 1fr);
    }

    .header{
        display: grid;
    }
    .logo{
        display: grid;
        padding-left: 20px;
    }
    .footer {
        display: flex;
    }
    .section {
        display: grid;
    }
    .parrafo{
        display: grid;
    }
    .titulito{
        display: grid;
    }
    .subtitulo{
        display: grid;
    }
    .ul2{
        display: grid;
    }
    .form{
        display: grid;
    }
    .subtituloart {
        display: grid;
    }
    .ul3art {
        display: grid;
    }
    .imageart{
        display: grid;
    }
    .subtituloubi{
        display: grid;
    }
    .imageubi{
        display: grid;
    }
}