.header{

    border-style: solid; color: #FACE7F;
    padding: 100px;
    margin: 01rem;
    text-align: center;
    text-decoration: none;
    grid-area: header;
    background: rgb(99,10,16);
    background: linear-gradient(0deg, rgba(99,10,16,1) 0%, rgba(252,240,200,0.8547794117647058) 100%);

    .rep{
        color: #9b9b9b;
        flex-direction: row;
        padding-left: 15rem;
        font-size: 40px;
        text-decoration: none;
        position: relative;
        display: inline; block-size: auto;
        padding: 15px 60px;
        overflow: hidden;
        transition: 0.5s;
        transform: translate(0px, 10px);
    }
}
.uli{
    font-size: 20px;
    border-style: solid;
    border-color: #630a10;
}

