.section{
    background-color: #630a10;
    margin: 1rem;
    border-style: solid; color: #FACE7F;
    grid-area: section;

    .subtitulo{
        color: #9b9b9b;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50px;
        text-align: center;
        background: #facf7f2a;
    }
}

// SECTION INICIO
.alert{
    margin: 10px;
}

// SECTION ARTICULOS
.ul3art{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
// SECTION CONTACTOS

.form{
    color: #9b9b9b;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}